.contactus-container {
    padding: 16px;
    max-width: 1170px;
    width: auto;
    margin: auto;
}

.contactus-form-container {
    display: flex;
    justify-content: space-between;
}

.h-primary {
    font-size: 34px;
    color: #000;
    font-family: 'Open Sans', sans-serif;
}

.contactus-container p {
    color: #393F44;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 30px;
}

.contactus-left {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.contactus-left input {
    padding: 15px;
    width: 90%;
    margin: 10px;
    margin-left: 0px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    background-color: bisque;
}

.contactus-left textarea {
    padding: 15px;
    width: 90%;
    margin: 10px;
    margin-left: 0px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    background-color: bisque;
    height: 130px;
}

.contactus-left button {
    padding: 15px;
    width: 96%;
    margin: 10px;
    margin-left: 0px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    background-color: rgb(97, 93, 93);
    color: white;
    cursor: pointer;
}

.contactus-right {
    width: 50%;
}

.contactus-right h2 {
    margin-top: 0px;
    color: #68cceb;
    font-size: 30px;
    font-weight: 500;
}

.contactus-right ul {
    padding-left: 0px;
}

.contactus-right li {
    list-style: none;
    line-height: 2.2;
    font-size: 18px;
}

.contactus-right li a {
    text-decoration: none;
    cursor: unset;
    color: black;
}