.directory-container {
  display: flex;
  position: relative;
  justify-content: space-evenly;
  background-color: var(--color8);
  width: 100%;
  /* height: 90vh; */
}

.directory-small-screen-heading {
  display: none;
}

.directory-container .lhsPatch {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 30%;
  height: 50%;
}

.directory-container .rhsPatch {
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0;
  width: 25%;
  height: 75%;
}

.directory-left {
  position: relative;
  z-index: 10;
}

.directory-left .directory-redLine {
  position: absolute;
  z-index: -1;
  display: block;
  /* ul has padding of 16px and image width is 88px, with some extra pixels redline is in between image */
  left: 75px;
  /* Height of ul is 70vh */
  height: 70vh;
  /* ul has a margin-bottom:1rem; */
  bottom: 0.8rem;
}

.directory-heading {
  display: flex;
  align-items: center;
  margin-top: 32px;
}

.directory-heading h1 {
  color: var(--color2);
  font-size: 64px;
  font-weight: normal;
  text-shadow: 2px 2px 0px black;
}

.directory-left ul {
  overflow-y: auto;
  height: 70vh;
  padding: 0px 30px;
  list-style: none;
}

.directory-therapist-list {
  text-decoration: none;
  color: black;
}

.directory-left ul li {
  display: flex;
  margin-bottom: 1rem;
  padding: 0.5rem;
  width: 50vw;
}

.directory-left ul li:hover {
  background-color: white;
  border: 0.1rem solid var(--color2);
  border-radius: 1.5rem;
}

.directory-therapist-image {
  width: 88px;
  height: 88px;
}

.directory-therapist-data {
  flex: 1 0 auto;
  /* For text no-wrap to work we need to specify width */
  width: 50%;
  /* margin-right: 64px; */
}

.directory-therapist-data p {
  margin: 8px 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.1em;
  font-weight: bold;
}

.directory-therapist-professional {
  color: var(--color2);
}

.directory-therapist-location {
  display: flex;
  color: #6b8c8f;
  font-size: 1.1em;
}

.directory-therapist-location ion-icon {
  margin-right: 8px;
  vertical-align: top;
}

.directory-right {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 10;
  margin-top: 32px;
  margin-bottom: 32px;
}

.directory-search-heading {
  display: flex;
  align-items: center;
  /* padding-left: 10px; */
}

.directory-search-heading .directory-right-spiral {
  width: 80px;
  margin-right: 10px;
  transform: rotate(180deg);
}

.directory-search-heading p {
  font-weight: normal;
  font-size: 24px;
  margin-bottom: 0px;
}

/* ">" is used so this css only apply to direct child*/

.directory-filter-container > ul {
  list-style: none;
  margin-top: 30px;
  padding-left: 5.5rem;
  /* flex: 1 0 auto; */
}

.directory-input-field {
  display: flex;
  padding-left: 5.5rem;
}

.directory-input-search-container {
  height: 100%;
}

.directory-input-search-container > input {
  height: 100%;
  text-indent: 0.5em;
  border: 2px solid var(--color2);
  border-radius: 10px;
  margin-right: 10px;
}

.directory-input-search-container > input:focus {
  outline: none;
  border: 2px solid var(--color2);
}

.directory-input-search-container > img {
  display: none;
}

.directory-input-field-container > hr {
  display: none;
}

.directory-input-field-container > ul {
  display: none;
}

.directory-input-field img {
  width: 32px;
  cursor: pointer;
}

.directory-input-field > ion-icon {
  display: none;
}

.directory-filter-heading {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  cursor: pointer;
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}

.directory-filter-heading ion-icon {
  font-size: 1.2em;
  color: var(--color2);
}

.directory-filter-heading p {
  font-size: 24px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.directory-filter-button {
  display: flex;
  margin-top: 10px;
}

.directory-filter-submit {
  display: block;
  margin: auto;
  /* margin-left: 50%; */
  width: 40%;
  font-size: 18px;
  border-radius: 40px;
  border: 2px solid var(--color2);
  background-color: var(--color2);
  color: white;
  cursor: pointer;
  font-family: var(--font1);
  transition-duration: 0.3s;
}

.directory-filter-reset {
  display: block;
  margin: auto;
  width: 40%;
  font-size: 18px;
  border-radius: 40px;
  border: 2px solid var(--color2);
  background-color: var(--color2);
  color: white;
  cursor: pointer;
  font-family: var(--font1);
  transition-duration: 0.3s;
}

.directory-filter-submit:hover {
  background-color: white;
  color: var(--color2);
  border: 2px solid var(--color2);
}

.directory-filter-reset:hover {
  background-color: white;
  color: var(--color2);
  border: 2px solid var(--color2);
}

.directory-checkbox-container {
  display: grid;
  grid-template-columns: min-content auto;
  grid-gap: 0.5em;
  margin-bottom: 5px;
}

.directory-checkbox-input input {
  opacity: 0;
  height: 0;
  width: 0;
  margin: 0px;
}

.directory-checkbox-control {
  display: block;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  border: 0.1em solid var(--color2);
}

.directory-checkbox-input {
  display: flex;
  align-items: center;
}

.directory-checkbox-control {
  background: white;
}

.directory-checkbox-input input:checked + .directory-checkbox-control {
  background: radial-gradient(var(--color2) 50%, white 51%);
}

.directory-dropdown-content {
  display: none;
  height: 15vh;
  overflow-y: auto;
}

.directory-filter {
  padding: 10px;
}

.directory-filter-open {
  background-color: white;
  border: 0.1rem solid var(--color2);
  border-radius: 10%;
}

@media only screen and (max-width: 48em) {
  .directory-left ul::-webkit-scrollbar {
    display: block;
  }

  .directory-dropdown-content::-webkit-scrollbar {
    display: block;
  }

  .directory-dropdown-content::-webkit-scrollbar-thumb {
    background-color: white;
  }

  .directory-left ul,
  .directory-dropdown-content {
    -ms-overflow-style: block; /* IE and Edge */
    scrollbar-width: 12px; /* Firefox */
    scrollbar-color: var(--color2) var(--color5); /*thumb and track color*/
  }

  .directory-dropdown-content {
    scrollbar-color: white var(--color5); /*thumb and track color*/
  }

  .directory-container {
    flex-direction: column;
  }

  .directory-small-screen-heading {
    display: block;
    z-index: 1;
    color: var(--color2);
    margin-left: 1.5rem;
    margin-bottom: 1rem;
    font-size: 3em;
    font-weight: normal;
    text-shadow: 2px 2px 0px black;
  }

  .directory-heading {
    display: none;
  }

  .directory-left {
    order: 2;
    padding-right: 2rem;
  }

  .directory-left ul {
    margin-top: 2rem;
    overflow-x: hidden;
  }

  .directory-left ul li {
    display: grid;
    grid-template-columns: 1fr 3fr;
    /* width: 100%; */
  }

  .directory-left ul li:hover {
    background-color: transparent;
    border: none;
  }

  .directory-therapist-data {
    width: 90%;
  }

  .directory-therapist-image {
    grid-row: 1 / 3;
    height: 100%;
  }

  .directory-therapist-data p {
    margin: 0 10px;
  }

  .directory-therapist-location {
    margin-left: 10px;
  }

  .directory-left .directory-redLine {
    left: 75px;
    height: 75vh;
  }

  .directory-right {
    order: 1;
    margin-bottom: 0;
  }

  .directory-container .lhsPatch {
    width: 60%;
    height: auto;
  }

  .directory-container .rhsPatch {
    width: 60%;
    height: auto;
    /* bottom: 90vh; */
    top: 0;
    transform: rotateX(180deg);
  }

  .directory-search-heading .directory-right-spiral {
    display: none;
  }

  .directory-search-heading p {
    margin-top: 0;
    margin-left: 2rem;
    margin-bottom: 1rem;
  }

  .directory-input-field {
    padding: 0 1.5rem;
    justify-content: space-between;
  }

  .directory-input-field-container {
    width: 70vw;
    position: relative;
    background-color: white;
    border: 0.2rem solid var(--color2);
    border-radius: 20px;
  }

  .directory-input-search-container {
    display: flex;
    height: auto;
  }

  .directory-input-search-container > input {
    /* flex: 1; */
    font-size: 1.3em;
    width: 100%;
    height: 2.2rem;
    border: none;
    border-radius: 20px;
    /* background-image: url("../../assets/directory/directory_SearchIcon.png"); */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    margin-right: 0;
  }

  .directory-input-search-container > input:focus {
    border: none;
  }

  .directory-input-search-container > img {
    display: block;
  }

  .directory-input-field-container > hr {
    display: none;
    margin: 0 0.5rem;
    background-color: var(--color2);
    border: 2px solid var(--color2);
  }

  .directory-input-field-container > ul {
    display: none;
    list-style: none;
    padding-left: 0;
    margin: 0.5rem 0;
  }

  .directory-filter-open {
    color: white;
    border: none;
    border-radius: 0;
    background-color: var(--color2);
  }

  .directory-filter-open ion-icon {
    color: white;
  }

  .directory-input-field > img {
    display: none;
  }

  .directory-input-field > ion-icon {
    display: block;
    font-size: 32px;
    color: white;
    background-color: var(--color2);
    border-radius: 10px;
    padding: 2px;
  }

  .directory-filter-container > ul {
    display: none;
  }

  .directory-checkbox-control {
    background-color: var(--color2);
    border: 2px solid white;
  }

  .directory-checkbox-input input:checked + .directory-checkbox-control {
    background: radial-gradient(white 50%, var(--color2) 51%);
  }
}
