.directory-container {
  display: flex;
  position: relative;
  justify-content: space-evenly;
  background-color: var(--color8);
}

.directory-container .lhsPatch {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 30%;
  height: 50%;
}

.directory-container .rhsPatch {
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0;
  width: 25%;
  height: 75%;
}

.directory-left {
  position: relative;
  z-index: 10;
}

.directory-left .directory-redLine {
  position: absolute;
  z-index: -1;
  display: block;
  left: 10%;
  height: 100%;
}

.directory-heading {
  display: flex;
  align-items: center;
  margin-top: 32px;
}

.directory-heading img {
  width: 80px;
}

.directory-heading h1 {
  color: var(--color2);
  font-size: 42px;
  font-weight: normal;
}

.directory-left ul {
  overflow-y: auto;
  /* height: 600px; */
  height: 55vh;
  padding: 0px 30px;
  list-style: none;
}

.directory-left ul li {
  display: flex;
  margin-bottom: 40px;
  /* justify-content: space-between; */
}

.directory-therapist-image {
  width: 88px;
  height: 88px;
}

.directory-therapist-data {
  flex: 1 0 auto;
  width: 384px;
  /* margin-right: 64px; */
}

.directory-therapist-data p {
  margin: 8px 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.directory-therapist-location {
  display: flex;
  color: #6b8c8f;
  font-size: 20px;
}

.directory-therapist-location ion-icon {
  margin-right: 8px;
  vertical-align: top;
}

.directory-right {
  position: relative;
  z-index: 10;
  margin-top: 32px;
}

.directory-right-heading {
  display: flex;
  align-items: center;
}

.directory-right-heading img {
  width: 80px;
  margin-right: 10px;
  transform: rotate(180deg);
}

.directory-right-heading h2 {
  font-weight: normal;
}

/* ">" is used so this css only apply to direct child*/
.directory-right > ul {
  list-style: none;
  padding-left: 90px;
}

.directory-input-field {
  display: flex;
}

.directory-input-field input {
  border: 2px solid var(--color3);
  border-radius: 10px;
  margin-right: 10px;
}

.directory-input-field input:focus {
  outline: none;
  border: 2px solid var(--color2);
}

.directory-input-field img {
  width: 32px;
}

.directory-filters-dropdown {
  list-style: none;
  padding-left: 0px !important;
}

.directory-filters-dropdown li::before {
  content: "\25CB";
  color: var(--color3);
  background-color: white;
  margin-right: 10px;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.directory-filter-submit {
  display: block;
  margin: auto;
  width: 50%;
  font-size: 18px;
  border-radius: 40px;
  border: 2px solid var(--color2);
  background-color: var(--color2);
  color: white;
  cursor: pointer;
  font-family: var(--font1);
  transition-duration: 0.3s;
}

.directory-filter-submit:hover {
  background-color: white;
  color: var(--color2);
  border: 2px solid var(--color2);
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
