body {
    overflow-x: hidden;
}

.donor-main-container {
    margin: auto;
    padding-left: 5vw;
    padding-right: 5vw;
    width: 90vw;
    background-color: #ffc98c;
    z-index: -2;
}

#donor-benefits {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.donor-benefits-heading {
    margin-top: 60px;
}

.donor-benefits-heading sup {
    vertical-align: super;
    font-size: 28px;
}

.donor-benefits-heading p {
    margin: 0px;
    font-size: 64px;
    padding-left: 20px;
    margin-bottom: 10px;
    color: white;
    text-shadow: 3px 2px 0px var(--color2);
}

.donor-benefits-content {
    position: relative;
    z-index: 2;
    background-color: rgb(255, 239, 220);
    /* padding-top: 100px; */
    margin-top: 40px;
}

.donor-benefits-content p {
    max-width: 72vw;
    margin: 0px auto;
    color: var(--color2);
    margin-top: 14px;
    margin-bottom: 30px;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    /* z-index:1; */
}

.donor-benefits-content p:nth-of-type(3) {
    color: black;
    font-size: 28px;
    font-weight: 500;
}

.donor-benefits-content img {
    position: absolute;
    top: -5%;
    left: -2.5%;
    height: 150px;
    width: 105%;
    z-index: -1;
}

.donor-benefits-content p:nth-of-type(1) {
    margin-top: 120px;
}

.donor-benefits-content p:nth-of-type(3) {
    margin-bottom: 80px;
}

#donor-what-can-you-do {
    display: flex;
    flex-direction: column;
}

.what-can-you-do-heading p {
    text-align: center;
    color: white;
    margin: 0px;
    font-size: 50px;
    text-shadow: 3px 2px 0px var(--color4);
    margin-bottom: 16px;
}

.what-can-you-do-content {
    /* border: 2px solid red; */
    background-color: white;
    border-radius: 16px;
    display: flex;
    justify-content: space-around;
}

.what-can-you-do-content h1 {
    color: #ffaa49;
    font-size: 36px;
    text-align: center;
    margin-top: 40px;
}

.what-can-you-do-content p {
    text-align: center;
    max-width: 24vw;
    font-size: 28px;
    line-height: 35px;
    color: var(--color4);
}

.donor-content-line {
    background-color: #ffc98c;
    width: 6px;
    height: 28vh;
    margin: auto;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 10px;
}

#donor-register-form {
    display: flex;
}

.donor-register-form-left {
    width: 46vw;
}

.donor-register-form-heading {
    background-image: url(../../assets/donor/Donor_LHSPuzzle.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.donor-register-form-heading h1 {
    font-size: 50px;
    color: white;
    margin-top: 10px;
    text-shadow: 3px 2px 0px var(--color4);
    padding-top: 120px;
    padding-bottom: 69px;
    font-weight: 300;
    margin-bottom: 5px;
}

#main-form {
    display: flex;
    flex-direction: column;
    max-width: 45vw;
    justify-content: space-between;
    /* height: 480px; */
    margin-bottom: 40px;
}

.donor-register-form-fill input {
    border: 2px solid var(--color4);
    border-radius: 30px;
    font-size: 18px;
    padding: 15px;
    padding-left: 18px;
    outline-width: 0;
    margin: 10px;
}

#form-div {
    display: flex;
    flex-direction: column;
}

#choice {
    border: 2px solid var(--color4);
    border-radius: 30px;
    font-size: 22px;
    padding: 15px;
    padding-left: 18px;
    outline-width: 0;
    margin: 10px;
    /* text-align: center; */
    background-color: white;
}

#choice p {
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 8px;
}

#choice label {
    color: #61878c;
    font-size: 18pxx;
}

#choice input {
    width: 0;
    height: 0;
    background-color: white;
    padding: 10px;
    border-radius: 50%;
    vertical-align: middle;
    border: 2px solid var(--color2);
    -webkit-appearance: none;
    /* outline: none; */
    cursor: pointer;
}

#choice input:checked {
    background: radial-gradient(var(--color2) 50%, white 51%);
}

input#receive {
    height: 16px;
    width: 16px;
}

input#pledge {
    height: 16px;
    width: 16px;
}

input#donate {
    height: 16px;
    width: 16px;
}

.donor-register-form-fill textarea {
    border: 2px solid var(--color4);
    border-radius: 16px;
    font-size: 18px;
    padding: 15px;
    padding-left: 18px;
    height: 125px;
    outline-width: 0;
    margin: 10px;
}

.donor-register-form-fill button {
    display: block;
    margin: auto;
    padding: 15px;
    width: 50%;
    font-size: 18px;
    border-radius: 40px;
    border: 2px solid var(--color2);
    background-color: var(--color2);
    color: white;
    cursor: pointer;
    font-family: var(--font1);
    transition-duration: 0.3s;
}

.donor-register-form-fill button:hover {
    background-color: white;
    color: #e96671;
    border: 2px solid var(--color2);
}

.donor-register-form-right {
    height: 70vh;
    width: 45vw;
    /* border: 2px solid red; */
    margin-top: 60vh;
    margin-left: 6vw;
    position: relative;
}

.donor-register-form-right img {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

@media only screen and (max-width: 900px) {
    .donor-benefits-heading p {
        font-size: 56px;
    }
    .donor-benefits-content {
        margin-top: 20px;
    }
    .donor-benefits-content img {
        top: -3%;
        height: 90px;
    }
    .donor-benefits-content p {
        font-size: 22px;
        line-height: 30px;
    }
    .donor-benefits-content p:nth-of-type(1) {
        margin-top: 40px;
    }
    .donor-benefits-content p:nth-of-type(3) {
        font-size: 18px;
    }
    .what-can-you-do-heading p {
        font-size: 45px;
    }
    .what-can-you-do-content {
        flex-direction: column;
    }
    .what-can-you-do-content h1 {
        font-size: 32px;
        margin-top: 20px;
    }
    .what-can-you-do-content p {
        font-size: 28px;
        max-width: 56vw;
        text-align: center;
        margin: auto;
        margin-bottom: 20px;
    }
    .what-can-you-do-content p:nth-of-type(3) {
        margin-bottom: 80px;
    }
    .donor-content-line {
        display: none;
    }
    .donor-content-line-2 {
        background-color: #ffc98c;
        height: 6px;
        width: 80vw;
        margin: auto;
        border-radius: 10px;
    }
    .donor-register-form-right {
        display: none;
    }
    .donor-register-form-left {
        width: 90vw;
    }
    .donor-register-form-heading h1 {
        font-size: 45px;
    }
    #donor-register-form {
        flex-direction: column;
    }
    #main-form {
        max-width: 80vw;
    }
    .donor-register-form-fill input {
        font-size: 14px;
        /* padding: 10px; */
    }
    #choice p {
        font-size: 14px;
    }
    #choice label {
        font-size: 14px;
    }
    #choice input {
        padding: 8px;
    }
    input#receive {
        height: 10px;
        width: 10px;
    }
    input#pledge {
        height: 10px;
        width: 10px;
    }
    input#donate {
        height: 10px;
        width: 10px;
    }
    .donor-register-form-fill textarea {
        font-size: 14px;
        height: 100px;
    }
    .donor-register-form-fill button {
        font-size: 14px;
        padding: 12px;
    }
}