body {
    background-color: #ffc98c;
}

.donor-main-container {
    margin: auto;
    width: 90vw;
}

#donor-benefits {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.donor-benefits-heading {
    margin-top: 60px;
}

.donor-benefits-heading p {
    margin: 0px;
    font-size: 72px;
    padding-left: 20px;
    margin-bottom: 10px;
    color: white;
    text-shadow: 3px 2px 0px var(--color2);
}

.donor-benefits-content {
    background-image: url(../../assets/donor/BenefitsDetails.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 88vw;
    height: 95vh;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 4px;
}

.donor-benefits-content p {
    max-width: 72vw;
    margin: 0px auto;
    color: var(--color2);
    margin-top: 14px;
    margin-bottom: 30px;
    font-size: 34px;
    line-height: 44px;
}

.donor-benefits-content p:nth-of-type(1) {
    margin-top: 160px;
}

.donor-benefits-content p:nth-of-type(3) {
    margin-bottom: 80px;
}

#donor-what-can-you-do {
    display: flex;
    flex-direction: column;
}

.what-can-you-do-heading p {
    text-align: center;
    color: white;
    margin: 0px;
    font-size: 50px;
    text-shadow: 3px 2px 0px var(--color4);
    margin-bottom: 16px;
}

.what-can-you-do-content {
    /* border: 2px solid red; */
    background-color: white;
    border-radius: 16px;
    display: flex;
    justify-content: space-around;
}

.what-can-you-do-content h1 {
    color: #ffaa49;
    font-size: 36px;
    text-align: center;
    margin-top: 40px;
}

.what-can-you-do-content p {
    text-align: center;
    max-width: 21vw;
    font-size: 28px;
    line-height: 35px;
    color: var(--color4);
}

.donor-content-line {
    background-color: #ffc98c;
    width: 6px;
    height: 28vh;
    margin: auto;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 10px;
}

#donor-register-form {
    display: flex;
}

.donor-register-form-left {
    width: 46vw;
}

.donor-register-form-heading {
    background-image: url(../../assets/donor/Donor_LHSPuzzle.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.donor-register-form-heading h1 {
    font-size: 72px;
    color: white;
    margin-top: 10px;
    text-shadow: 3px 2px 0px var(--color2);
    padding-top: 120px;
    padding-bottom: 69px;
    font-weight: 300;
    margin-bottom: 5px;
}

.donor-register-form-fill form {
    display: flex;
    flex-direction: column;
    max-width: 45vw;
    justify-content: space-between;
    height: 400px;
    margin-bottom: 40px;
}

.donor-register-form-fill input {
    border: 3px solid #e96671;
    border-radius: 16px;
    font-size: 22px;
    padding: 3px 0px;
    padding-left: 18px;
}

.donor-register-form-fill textarea {
    border: 3px solid #e96671;
    border-radius: 16px;
    font-size: 22px;
    padding: 3px 0px;
    padding-left: 18px;
    height: 125px;
}

.donor-register-form-fill button {
    width: 135px;
    color: white;
    background-color: #e96671;
    border: none;
    border-radius: 50px;
    padding: 6px 10px;
    font-size: 24px;
}

.donor-register-form-right {
    background-image: url(../../assets/donor/Donor_MainIllustration.png);
    background-repeat: no-repeat;
    width: 34vw;
    height: 55vh;
    background-size: cover;
    margin-top: 22vh;
    margin-left: 4vw;
}