.donor-main-container {
  margin: auto;
  padding-left: 5vw;
  padding-right: 5vw;
  width: 90vw;
  background-color: #ffc98c;
  z-index: -2;
}

#donor-benefits {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.donor-benefits-heading {
  margin-top: 60px;
}

.donor-benefits-heading p {
  margin: 0px;
  font-size: 64px;
  padding-left: 20px;
  margin-bottom: 10px;
  color: white;
  text-shadow: 3px 2px 0px var(--color2);
}

.donor-benefits-content {
  position: relative;
  z-index: 2;
}

.donor-benefits-content p {
  max-width: 72vw;
  margin: 0px auto;
  color: var(--color2);
  margin-top: 14px;
  margin-bottom: 30px;
  font-size: 34px;
  line-height: 44px;
  /* z-index:1; */
}

.donor-benefits-content img {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.donor-benefits-content p:nth-of-type(1) {
  margin-top: 160px;
}

.donor-benefits-content p:nth-of-type(3) {
  margin-bottom: 80px;
}

#donor-what-can-you-do {
  display: flex;
  flex-direction: column;
}

.what-can-you-do-heading p {
  text-align: center;
  color: white;
  margin: 0px;
  font-size: 50px;
  text-shadow: 3px 2px 0px var(--color4);
  margin-bottom: 16px;
}

.what-can-you-do-content {
  /* border: 2px solid red; */
  background-color: white;
  border-radius: 16px;
  display: flex;
  justify-content: space-around;
}

.what-can-you-do-content h1 {
  color: #ffaa49;
  font-size: 36px;
  text-align: center;
  margin-top: 40px;
}

.what-can-you-do-content p {
  text-align: center;
  max-width: 21vw;
  font-size: 28px;
  line-height: 35px;
  color: var(--color4);
}

.donor-content-line {
  background-color: #ffc98c;
  width: 6px;
  height: 28vh;
  margin: auto;
  margin-left: 0px;
  margin-right: 0px;
  border-radius: 10px;
}

#donor-register-form {
  display: flex;
}

.donor-register-form-left {
  width: 46vw;
}

.donor-register-form-heading {
  background-image: url(../../assets/donor/Donor_LHSPuzzle.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.donor-register-form-heading h1 {
  font-size: 72px;
  color: white;
  margin-top: 10px;
  text-shadow: 3px 2px 0px var(--color2);
  padding-top: 120px;
  padding-bottom: 69px;
  font-weight: 300;
  margin-bottom: 5px;
}

.donor-register-form-fill form {
  display: flex;
  flex-direction: column;
  max-width: 45vw;
  justify-content: space-between;
  /* height: 480px; */
  margin-bottom: 40px;
}

.donor-register-form-fill input {
  border: 2px solid var(--color4);
  border-radius: 30px;
  font-size: 18px;
  padding: 15px;
  padding-left: 18px;
  outline-width: 0;
  margin: 10px;
}

#choice {
  border: 2px solid var(--color4);
  border-radius: 30px;
  font-size: 18px;
  padding: 15px;
  padding-left: 18px;
  outline-width: 0;
  margin: 10px;
}

.donor-register-form-fill textarea {
  border: 2px solid var(--color4);
  border-radius: 16px;
  font-size: 18px;
  padding: 15px;
  padding-left: 18px;
  height: 125px;
  outline-width: 0;
  margin: 10px;
}

.donor-register-form-fill button {
  display: block;
  margin: auto;
  padding: 15px;
  width: 50%;
  font-size: 18px;
  border-radius: 40px;
  border: 2px solid var(--color2);
  background-color: var(--color2);
  color: white;
  cursor: pointer;
  font-family: var(--font1);
  transition-duration: 0.3s;
}

.donor-register-form-fill button:hover {
  background-color: white;
  color: #e96671;
  border: 2px solid var(--color2);
}

.donor-register-form-right {
  height: 70vh;
  width: 40vw;
  /* border: 2px solid red; */
  margin-top: 12vh;
  margin-left: 4vw;
  position: relative;
}

.donor-register-form-right img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
