.home-container {
    padding: 16px;
}

.home-art img {
    height: 160px;
    width: 100%;
}

.home-slideshow-container {
    position: relative;
}

.home-slides {
    display: none;
}

.home-prev,
.home-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    border: none;
    background-color: white;
    user-select: none;
    transition: 0.6s ease;
    transition-duration: 0.4s;
}

.home-next {
    right: 0;
}

.home-next:hover,
.home-prev:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}