.article-container {
  background-color: #b0bfc2;
  padding: 2rem;
}

.article-container .loading {
  font-size: 2em;
  font-family: var(--font1);
  color: #fae3d1;
  text-shadow: 3px 3px 0px #61878c;
}

.article-heading {
  color: whitesmoke;
  text-shadow: 3px 3px 0px #61878c;
  margin-bottom: 0.5rem;
}

.article-author {
  text-shadow: 2px 2px 0px white;
}
