footer {
  background-color: var(--color5);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 15px 64px;
}

.footer-left {
  margin-right: 64px;
}

.footer-right ul {
  font-size: 18px;
  list-style: none;
}

.footer-right li {
  padding-bottom: 8px;
}

.footer-left li {
  font-size: 18px;
  padding-bottom: 8px;
  list-style: none;
}

.footer-social-media-icons {
  display: inline;
  cursor: pointer;
  margin-right: 16px;
  font-size: larger;
  color: gray;
  transition: 0.4s ease;
}

.footer-facebook:hover {
  color: #4267b2;
}

.footer-instagram:hover {
  color: #e1306c;
}

.footer-linkedin:hover {
  color: #2867b2;
}
