.navbar-container {
  position: relative;
}

.navbar-logo {
  height: 10vh;
  background-color: var(--color5);
}

.navbar-logo img {
  height: 80%;
  margin-left: auto; /* For making image at center */
  margin-right: auto; /* For making image at center */
  display: block; /*without this extra space would come below image*/

  /* A way to vertivcal align any element */
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

nav {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--color5);
  align-items: center;
  width: 100%;
  height: 10vh;
}

.nav-list-logo {
  display: none;
  font-size: larger;
  font-weight: bolder;
}

.nav-list-logo img {
  height: 5vh;
  width: 5vh;
  margin-right: 1rem;
  vertical-align: middle;
}

nav li {
  flex-shrink: 0; /*So the text present in the list dont break into multiple lines*/
  list-style: none;
}

nav li a {
  text-decoration: none;
  font-family: var(--font2);
  color: var(--color6);
  font-size: large;
  font-weight: bolder;
  border-radius: 20px;
}

.sticky {
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: var(--color7);
}

.nav-sticky + div {
  margin-top: 10vh;
}

.navbar-menu-container {
  display: none;
  position: absolute;
  padding-top: 1rem;
  padding-right: 1rem;
  top: 1vh;
  right: 0;
  z-index: 101;
  background-color: var(--color5);
  border-bottom-left-radius: 15px;
}

.navbar-menu-icon-container {
  display: block;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.navbar-menu-list {
  display: none;
  width: 50vw;
  list-style: none;
  color: var(--color6);
}

.navbar-menu-list li {
  margin-bottom: 1rem;
}

.navbar-menu-list li a {
  color: var(--color6);
  font-family: var(--font2);
  text-decoration: none;
}

.navbar-menu-icon-bar1,
.navbar-menu-icon-bar2,
.navbar-menu-icon-bar3 {
  width: 30px;
  height: 3px;
  background-color: var(--color2);
  margin: 3px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.navbar-menu-icon-change .navbar-menu-icon-bar1 {
  -webkit-transform: rotate(45deg) translateY(12px);
  transform: rotate(45deg) translateY(13px);
}

/* Fade out the second bar */
.navbar-menu-icon-change .navbar-menu-icon-bar2 {
  opacity: 0;
}

/* Rotate last bar */
.navbar-menu-icon-change .navbar-menu-icon-bar3 {
  -webkit-transform: rotate(-45deg) translateY(-12px);
  transform: rotate(-45deg) translateY(-13px);
}

@media only screen and (max-width: 48em) {
  nav {
    display: none;
    justify-content: flex-start;
  }

  nav li:first-child {
    margin-left: 1rem;
  }

  nav li:not(:first-child) {
    display: none;
  }

  .navbar-menu-container {
    display: block;
  }
}
