nav {
  position: fixed;
  overflow: hidden;
  width: 100vw;
  top: 0;
  /* left: 0; */
  z-index: 1;
}

.navbar-logo img {
  height: 5vw;
  margin-left: auto; /* For making image at center */
  margin-right: auto; /* For making image at center */
  display: block;
  /*without this extra space would come below image*/
}

.navbar-container {
  display: flex;
  justify-content: center;
  background-color: #fffaf6;
  align-items: center;
  height: 50px;
}

.nav-list-logo {
  display: none;
  font-size: larger;
  font-weight: bolder;
}

.nav-list-logo img {
  height: 5vh;
  width: 5vh;
  margin-right: 1rem;
  vertical-align: middle;
}

.navbar-container li {
  flex-shrink: 0; /*So the text present in the list dont break into multiple lines*/
  list-style: none;
  margin: 4px 50px;
}

.navbar-container li a {
  text-decoration: none;
  color: #e96571;
  font-size: large;
  border-radius: 20px;
  padding: 8px 20px;
}

/* .navbar-container li a:hover {
  background-color: rgb(177, 167, 167);
  transition: 0.2s ease;
  color: black;
} */
