* {
    scroll-behavior: smooth;
}

.flexAnything {
    display: flex !important;
}

.hideAnything {
    display: none !important;
}

.thanos {
    display: none;
}

.profile-main-container {
    background-color: bisque;
    z-index: -3;
}

.profile-header-container {
    display: flex;
    justify-content: space-evenly;
    height: 20vh;
    top: 83px;
    width: auto;
    z-index: 3;
    background-color: bisque;
}

.profile-to-directory a {
    font-size: 30px;
    background-color: #e96571;
    border: none;
    border-radius: 60px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    width: 280px;
    margin: auto;
    margin-top: 20px;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

.profile-to-directory span {
    padding-right: 18px;
}

.profile-to-directory a ion-icon {
    color: white;
    transform: rotate(90deg);
}

.profile-user-main {
    position: relative;
    z-index: 2;
}

#profile-user-main-back-img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.profile-name {
    text-align: center;
    font-size: 40px;
    margin: auto 8vw;
    margin-bottom: 0vh;
    margin-top: 5px;
}

.profile-icons {
    display: flex;
    justify-content: center;
    margin: 0px 8vw;
}

.profile-icons a {
    cursor: pointer;
}

.profile-icons img {
    height: 42px;
    width: 42px;
    margin: 2px 3px;
}

.jump-to {
    font-size: 30px;
    font-family: 'Neucha', cursive;
    background-color: #e96571;
    border: none;
    border-radius: 60px;
    padding: 4px 20px;
    width: 280px;
    margin: auto;
    margin-top: 20px;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.jump-to p {
    margin: 0px;
}

#dropdownID {
    display: none;
}

.jump-to-container {
    display: flex;
    flex-direction: column;
    border: 3px solid #e96571;
    margin-top: 20px;
    border-radius: 16px;
    height: 270px;
    background-color: white;
    z-index: 3;
}

.jump-to-two {
    font-size: 30px;
    font-family: 'Neucha', cursive;
    background-color: white;
    border: none;
    border-radius: 60px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 20px;
    width: 274px;
    margin: 0px auto;
    color: #e96571;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.jump-to-two p {
    margin: 0px;
}

.jump-to-container a {
    display: flex;
    text-decoration: none;
    color: #61878c;
    font-size: 30px;
    margin: 0px;
    cursor: pointer;
}

.jump-to-container a div {
    border: 2px solid #e96571;
    border-radius: 100%;
    height: 20px;
    width: 20px;
    margin-top: 4px;
    margin-left: 20px;
    margin-right: 4px;
}

.jump-to-container a p {
    margin: 0px;
}

.profile-container {
    width: 70vw;
    margin: 0px auto;
}

.profile-body-one {
    display: flex;
}

#profile-contact-main {
    position: relative;
    text-align: center;
    flex-direction: column;
    background-color: #f79a90;
    padding-bottom: 20px;
    color: var(--color5);
    z-index: 2;
}

.profile-contact {
    margin-top: 10px;
}

.profile-contact h1 {
    margin: 0px;
    padding-top: 40px;
    text-decoration: underline;
    font-weight: 500;
}

.profile-contact-details {
    margin-top: 4px;
}

.profile-contact p {
    font-size: 28px;
    margin: 0px;
}

.profile-location {
    margin-top: 18px;
}

.profile-location h1 {
    margin: 0px;
    text-decoration: underline;
    font-weight: 500;
}

.profile-location p {
    font-size: 28px;
    margin: 0px;
    margin-top: 4px;
}

.profile-location img {
    height: 30px;
}

#profile-time-main {
    text-align: center;
    flex-direction: column;
    background-color: #85a7cd;
    margin-top: 30px;
    margin-left: -135px;
    padding-bottom: 20px;
    color: var(--color5);
    position: relative;
    z-index: 2;
}

.profile-office-hours {
    margin-top: 70px;
}

.profile-office-hours h1 {
    margin: 0px;
    padding-top: 40px;
    text-decoration: underline;
    font-weight: 500;
    margin-bottom: 5px;
}

.profile-office-hours p {
    font-size: 28px;
    margin: 0px;
}

.profile-working-days {
    margin-top: 20px;
}

.profile-days {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px auto;
}

.profile-days img {
    height: 30px;
    width: 30px;
    margin: 0px 4px;
}

.profile-working-days h1 {
    margin: 0px;
    text-decoration: underline;
    font-weight: 500;
    margin-bottom: 5px;
}

.profile-working-days p {
    font-size: 28px;
    margin: 0px auto;
    max-width: 400px;
    margin-bottom: 20px;
}

.profile-medium h1 {
    margin: 0px;
    text-decoration: underline;
    font-weight: 500;
    margin-bottom: 5px;
}

.profile-medium p {
    font-size: 28px;
    margin: 0px auto;
    max-width: 450px;
}

.profile-schedule h1 {
    margin: 0px;
    text-decoration: underline;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 5px;
}

.profile-schedule p {
    font-size: 28px;
    margin: 0px;
}

.profile-schedule-calender {
    margin-top: 10px;
}

.profile-schedule-calender img {
    height: 50px;
    width: 50px;
    cursor: pointer;
}

#profile-typical-session-fees-main {
    text-align: center;
    background-color: #8bbeaa;
    width: 29.5vw;
    margin-top: 5vh;
    color: var(--color5);
    position: relative;
    z-index: 1;
    padding-bottom: 20px;
    padding: 10px 10px;
}

.profile-typical-session-fees {
    margin-top: 40px;
}

.profile-typical-session-fees h1 {
    margin: 0px;
    padding-top: 10px;
    text-decoration: underline;
    font-weight: 500;
    margin-top: 20px;
}

.profile-typical-session-fees h1:nth-of-type(2) {
    text-decoration: none;
    margin-top: 0px;
}

.profile-typical-session-fees p {
    font-size: 28px;
    margin: 0px auto;
    margin-top: 10px;
    margin-bottom: 15px;
    max-width: 380px;
    padding-bottom: 10px;
}

.profile-body-one-middle {
    display: flex;
    flex-direction: column;
}

.center-line-images-one {
    border-radius: 100px;
    background-color: var(--color2);
    height: 100%;
    width: 7px;
    margin-top: 10px;
    margin-left: 80px;
    margin-bottom: 0px;
}

.center-line-images-one img:nth-of-type(1) {
    height: 56px;
    width: 88px;
    position: absolute;
    top: 40vh;
    left: 48.5vw;
}

.center-line-images-one img:nth-of-type(2) {
    height: 56px;
    width: 88px;
    position: absolute;
    top: 56vh;
    right: 47.5vw;
    transform: rotate(180deg);
}

.center-line-images-one img:nth-of-type(3) {
    height: 56px;
    width: 88px;
    position: absolute;
    top: 80vh;
    left: 48.5vw;
}

.center-line-images-one img:nth-of-type(4) {
    height: 56px;
    width: 88px;
    position: absolute;
    top: 132vh;
    right: 47.5vw;
    transform: rotate(180deg);
}

.center-line-images-one img:nth-of-type(5) {
    height: 56px;
    width: 88px;
    position: absolute;
    top: 172vh;
    left: 48.5vw;
}

.center-line-images-two {
    display: none;
    background-color: var(--color2);
    height: 90vh;
    width: 10px;
    margin-left: 80px;
}

#profile-details-main {
    margin-top: 130px;
    margin-left: 105px;
    text-align: center;
    background-color: #8bbeaa;
    color: var(--color5);
    padding-bottom: 20px;
    z-index: 2;
    position: relative;
}

.profile-qualification h1 {
    margin: 0px;
    padding-top: 40px;
    text-decoration: underline;
    font-weight: 500;
    margin-bottom: 5px;
}

.profile-qualification p {
    font-size: 28px;
    margin: 0px auto;
    max-width: 400px;
    margin-bottom: 20px;
}

.profile-profession h1 {
    margin: 0px;
    text-decoration: underline;
    font-weight: 500;
    margin-bottom: 5px;
}

.profile-profession p {
    font-size: 28px;
    margin: 0px auto;
    max-width: 400px;
    margin-bottom: 20px;
}

.profile-experience h1 {
    margin: 0px;
    text-decoration: underline;
    font-weight: 500;
    margin-bottom: 5px;
}

.profile-experience p {
    font-size: 28px;
    margin: 0px auto;
    max-width: 400px;
    margin-bottom: 20px;
}

.profile-languages h1 {
    margin: 0px;
    text-decoration: underline;
    font-weight: 500;
    margin-bottom: 5px;
}

.profile-languages p {
    font-size: 28px;
    margin: 0px auto;
    max-width: 400px;
    margin-bottom: 20px;
}

#profile-session-main {
    padding: 0px 40px;
    margin-top: 8vh;
    margin-left: 105px;
    padding-bottom: 20px;
    text-align: center;
    background-color: #f79a90;
    position: relative;
    color: var(--color5);
    z-index: 2;
}

.profile-first-session h1 {
    margin: 0px;
    padding-top: 40px;
    text-decoration: underline;
    font-weight: 500;
    margin-top: 48px;
    margin-bottom: 5px;
}

.profile-first-session p {
    font-size: 28px;
    margin: 0px auto;
    max-width: 400px;
    margin-bottom: 20px;
    text-align: center;
}

.profile-session-length h1 {
    margin: 0px;
    text-decoration: underline;
    font-weight: 500;
    margin-bottom: 5px;
}

.profile-session-length p {
    font-size: 28px;
    margin: 0px auto;
    max-width: 400px;
    margin-bottom: 20px;
}

#profile-background-main {
    margin-top: -4.5vh;
    text-align: center;
    background-color: #85a7cd;
    color: var(--color5);
    padding-bottom: 20px;
    padding-top: 40px;
    margin-bottom: 80px;
    position: relative;
    z-index: 2;
}

.profile-affiliations h1 {
    display: block;
    margin: 0px;
    text-decoration: underline;
    font-weight: 500;
    margin-bottom: 5px;
}

.profile-affiliations p {
    font-size: 28px;
    margin: 0px auto;
    max-width: 60vw;
    margin-bottom: 20px;
}

.profile-target-demography h1 {
    margin: 0px;
    text-decoration: underline;
    font-weight: 500;
    margin-bottom: 5px;
}

.profile-target-demography p {
    font-size: 28px;
    margin: 0px auto;
    max-width: 60vw;
    margin-bottom: 20px;
}

.profile-evaluations h1 {
    margin: 0px;
    text-decoration: underline;
    font-weight: 500;
    margin-bottom: 5px;
}

.profile-evaluations p {
    font-size: 28px;
    margin: 0px auto;
    max-width: 60vw;
    margin-bottom: 20px;
}

.profile-area-of-experience h1 {
    margin: 0px;
    text-decoration: underline;
    font-weight: 500;
    margin-bottom: 5px;
}

.profile-area-of-experience p {
    font-size: 28px;
    margin: 0px auto;
    max-width: 60vw;
    margin-bottom: 20px;
}

#myBtn {
    display: block;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: var(--color2);
    color: white;
    cursor: pointer;
    padding: 0px 15px;
    border-radius: 10px;
    font-size: 50px;
    font-weight: 500;
}

#myBtn:hover {
    color: var(--color2);
    background-color: white;
    padding: 8px;
    border: 2px solid var(--color2);
    transition: 0.3s;
}

.tapes {
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: 130px;
}

#contact-tape {
    top: -30px;
    width: 115%;
    left: -7%;
}

#time-tape {
    top: -6%;
    width: 110%;
    left: -5%;
}

#qualification-tape {
    top: -40px;
    width: 110%;
    left: -20px;
}

#typical-session-tape {
    top: -6%;
    width: 110%;
    left: -5%;
}

#background-tape {
    width: 108%;
    top: -8%;
    left: -4%;
}

#first-session-tape {
    top: -8%;
    width: 112%;
    left: -6%;
}

#background-tape-2 {
    display: none;
}

@media only screen and (min-width:1600px) {
    .center-line-images-one img:nth-of-type(1) {
        left: 49vw;
    }
    .center-line-images-one img:nth-of-type(2) {
        right: 47.5vw;
    }
    .center-line-images-one img:nth-of-type(3) {
        left: 49vw;
    }
    .center-line-images-one img:nth-of-type(4) {
        right: 47.5vw;
    }
    .center-line-images-one img:nth-of-type(5) {
        left: 49vw;
    }
}

@media only screen and (max-width:1600px) {
    .center-line-images-one img:nth-of-type(1) {
        left: 49.5vw;
    }
    .center-line-images-one img:nth-of-type(2) {
        right: 47vw;
    }
    .center-line-images-one img:nth-of-type(3) {
        left: 49.5vw;
    }
    .center-line-images-one img:nth-of-type(4) {
        right: 47vw;
    }
    .center-line-images-one img:nth-of-type(5) {
        left: 49.5vw;
    }
}

@media only screen and (max-width:1500px) {
    .center-line-images-one img:nth-of-type(1) {
        left: 49.7vw;
    }
    .center-line-images-one img:nth-of-type(2) {
        right: 46.5vw;
    }
    .center-line-images-one img:nth-of-type(3) {
        left: 49.7vw;
    }
    .center-line-images-one img:nth-of-type(4) {
        right: 46.5vw;
    }
    .center-line-images-one img:nth-of-type(5) {
        left: 49.7vw;
    }
}

@media only screen and (max-width:1400px) {
    .center-line-images-one img:nth-of-type(1) {
        left: 50vw;
    }
    .center-line-images-one img:nth-of-type(2) {
        right: 46vw;
    }
    .center-line-images-one img:nth-of-type(3) {
        left: 50vw;
    }
    .center-line-images-one img:nth-of-type(4) {
        right: 46vw;
    }
    .center-line-images-one img:nth-of-type(5) {
        left: 50vw;
    }
}

@media only screen and (max-width:1300px) {
    .center-line-images-one img:nth-of-type(1) {
        left: 50.5vw;
    }
    .center-line-images-one img:nth-of-type(2) {
        right: 45vw;
    }
    .center-line-images-one img:nth-of-type(3) {
        left: 50.5vw;
    }
    .center-line-images-one img:nth-of-type(4) {
        right: 45vw;
    }
    .center-line-images-one img:nth-of-type(5) {
        left: 50.5vw;
    }
}

@media only screen and (max-width:1200px) {
    .profile-header-container {
        flex-direction: column;
        height: auto;
    }
    .profile-to-directory {
        display: none;
    }
    .profile-user-main {
        width: 360px;
        margin: auto;
        height: 16vh;
    }
    .profile-name {
        font-size: 30px;
        margin: auto 4vw;
    }
    .profile-icons img {
        height: 31px;
        width: 31px;
        margin: 2px 2px;
    }
    .jump-to {
        font-size: 24px;
        padding: 3px 16px;
        width: 250px;
        margin-top: 18px;
        margin-bottom: 18px;
    }
    .jump-to-two {
        font-size: 24px;
        padding: 3px 20px;
        width: 250px;
    }
    .jump-to-container {
        margin: 16px auto;
        height: 210px;
    }
    .jump-to-container a {
        font-size: 24px;
    }
    .jump-to-container a div {
        height: 16px;
        width: 16px;
        margin-top: 5px;
        margin-left: 16px;
        margin-right: 3px;
    }
    .profile-body-container {
        display: flex;
        flex-direction: column;
    }
    .profile-body-one {
        flex-direction: column;
    }
    #profile-contact-main {
        margin: 30px auto;
        margin-top: 0px;
        width: 55vw;
        margin-bottom: 40px;
    }
    .profile-contact h1 {
        padding-top: 30px;
        font-size: 30px;
    }
    .profile-contact-details {
        margin-top: 3px;
    }
    .profile-contact p {
        font-size: 22px;
    }
    .profile-location {
        margin-top: 14px;
    }
    .profile-location h1 {
        font-size: 28px;
    }
    .profile-location p {
        font-size: 22px;
        margin-top: 3px;
    }
    .profile-location img {
        height: 24px;
    }
    #profile-time-main {
        margin: 40px auto;
        padding-bottom: 16px;
        width: 65vw;
    }
    .profile-office-hours {
        margin-top: 50px;
    }
    .profile-office-hours h1 {
        padding-top: 30px;
        font-size: 28px;
        margin-bottom: 4px;
    }
    .profile-office-hours p {
        font-size: 22px;
    }
    .profile-working-days {
        margin-top: 16px;
    }
    .profile-days {
        margin: 6px auto;
    }
    .profile-days img {
        height: 28px;
        width: 28px;
        margin: 0px 3px;
    }
    .profile-working-days h1 {
        font-size: 28px;
        margin-bottom: 4px;
    }
    .profile-working-days p {
        font-size: 22px;
        max-width: 300px;
        margin-bottom: 16px;
    }
    .profile-medium h1 {
        font-size: 28px;
        margin-bottom: 4px;
    }
    .profile-medium p {
        font-size: 22px;
        max-width: 325px;
    }
    .profile-schedule h1 {
        margin-top: 16px;
        margin-bottom: 4px;
        font-size: 28px;
    }
    .profile-schedule p {
        font-size: 22px;
    }
    .profile-schedule-calender {
        margin-top: 8px;
    }
    .profile-schedule-calender img {
        height: 35px;
        width: 35px;
    }
    #profile-typical-session-fees-main {
        width: 50vw;
        margin: 40px auto;
        padding: 8px;
    }
    .profile-typical-session-fees {
        margin-top: 30px;
    }
    .profile-typical-session-fees h1 {
        font-size: 28px;
        padding-top: 8px;
        margin-top: 16px;
    }
    .profile-typical-session-fees p {
        font-size: 22px;
        margin-top: 8px;
        margin-bottom: 12px;
        max-width: 320px;
    }
    .profile-body-one-middle {
        position: absolute;
        left: 49vw;
        top: 40vh;
    }
    .center-line-images-one {
        margin: auto;
        height: 180%;
    }
    .profile-body-one-middle img {
        display: none;
    }
    #profile-details-main {
        margin: 40px auto;
        padding-bottom: 16px;
        width: 55vw;
        margin-top: 0px;
    }
    .profile-qualification h1 {
        padding-top: 30px;
        font-size: 28px;
        margin-bottom: 4px;
    }
    .profile-qualification p {
        font-size: 22px;
        max-width: 300px;
        margin-bottom: 16px;
    }
    .profile-profession h1 {
        font-size: 28px;
        margin-bottom: 4px;
    }
    .profile-profession p {
        font-size: 22px;
        max-width: 300px;
        margin-bottom: 16px;
    }
    .profile-experience h1 {
        font-size: 28px;
        margin-bottom: 4px;
    }
    .profile-experience p {
        font-size: 22px;
        max-width: 300px;
        margin-bottom: 16px;
    }
    .profile-languages h1 {
        font-size: 28px;
        margin-bottom: 4px;
    }
    .profile-languages p {
        font-size: 22px;
        max-width: 300px;
        margin-bottom: 16px;
    }
    #profile-session-main {
        padding: 0px 30px;
        margin: 40px auto;
        padding-bottom: 16px;
        width: 50vw;
    }
    .profile-first-session h1 {
        padding-top: 30px;
        margin-top: 36px;
        margin-bottom: 4px;
        font-size: 28px;
    }
    .profile-first-session p {
        font-size: 22px;
        max-width: 300px;
        margin-bottom: 16px;
    }
    .profile-session-length h1 {
        font-size: 28px;
        margin-bottom: 4px;
    }
    .profile-session-length p {
        font-size: 22px;
        margin-bottom: 16px;
        max-width: 300px;
    }
    #profile-background-main {
        margin-top: 0px;
        padding-bottom: 16px;
        padding-top: 20px;
        margin-bottom: 40px;
    }
    .profile-affiliations h1 {
        font-size: 28px;
        margin-bottom: 4px;
    }
    .profile-affiliations p {
        font-size: 22px;
        max-width: 45vw;
        margin-bottom: 16px;
    }
    .profile-target-demography h1 {
        font-size: 28px;
        margin-bottom: 4px;
    }
    .profile-target-demography p {
        font-size: 22px;
        max-width: 45vw;
        margin-bottom: 16px;
    }
    .profile-evaluations h1 {
        font-size: 28px;
        margin-bottom: 4px;
    }
    .profile-evaluations p {
        font-size: 22px;
        max-width: 45vw;
        margin-bottom: 16px;
    }
    .profile-area-of-experience h1 {
        font-size: 28px;
        margin-bottom: 4px;
    }
    .profile-area-of-experience p {
        font-size: 22px;
        max-width: 45vw;
        margin-bottom: 16px;
    }
    #myBtn {
        bottom: 16px;
        right: 24px;
        padding: 6px;
        font-size: 36px;
        font-weight: 500;
    }
    #myBtn:hover {
        padding: 6px;
    }
    .tapes {
        display: none;
    }
}

@media only screen and (max-width:700px) {
    .profile-user-main {
        width: 300px;
    }
    .profile-days img {
        width: 24px;
        height: 24px;
    }
    #profile-contact-main {
        margin-bottom: 0px;
    }
    #profile-time-main {
        margin: 30px auto;
        margin-top: 0px;
    }
    #profile-typical-session-fees-main {
        margin: 30px auto;
    }
    #profile-details-main {
        margin: 30px auto;
        margin-top: 0px;
    }
    #profile-session-main {
        margin: 30px auto;
    }
    #profile-background-main {
        margin-bottom: 30px;
    }
    .profile-first-session h1 {
        margin-top: 25px;
    }
    .profile-office-hours {
        margin-top: 30px;
    }
    .center-line-images-one {
        margin-top: 160px;
    }
}

@media only screen and (max-width:500px) {
    .profile-contact p {
        text-align: center;
        font-size: 18px;
    }
}

@media only screen and (max-width:400px) {
    .profile-days img {
        width: 23px;
        height: 23px;
    }
}